.orders {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 1rem;

        .recap {
            width: 200px;
        }
    }

    .card {

        width: 95%;
        margin: 0 auto;

        .title{
            display: flex;
            justify-content: space-between;
        }
    }

}