.header{
    height: 6vh;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0.5rem;

    .title{
        padding: 1rem;
        h1{
            font-size: 1.5rem;
        }
        p{
            font-size: 0.8rem;
            font-style: italic;
            margin-left: 1rem;
        }
    }

    .link{
        display: flex;
        align-items: center;
        gap: 2.5rem;
        padding: 1rem;

        button{
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: underline;
        }
    }
}