.header{
    height: 6vh;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0.5rem;

    svg{
        width: 30px;
    }

    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        svg{
            width: 50px;
            height: 50px;
        }
        h1{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.5rem;
        }
        p{
            font-size: 0.8rem;
            font-style: italic;
        }
    }

    .link{
        display: flex;
        align-items: center;
        gap: 2.5rem;
        padding: 1rem;

        button{
            display: flex;
            align-items: center;
            gap: 1rem;
            text-decoration: underline;
        }
    }
}