.dashboard-nav{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    border-right: 1px solid lightgray;
    width: 300px;
    min-width: 300px;

    .top{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // gap: 1rem;
        // align-items: center;
        border-bottom: 1px solid lightgray;
        flex-grow: 0;
        padding: 0.5rem;

        h2{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.5rem;
        }

        p{
            font-size: 0.8rem;
            font-style: italic;
        }
        
        svg{
            width: 50px;
            height: 50px;
        }
    }



    .links{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 3;
        padding: 1rem;
    }

    a{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        padding: 1rem;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        transition: all 0.2s ease-in-out;

        svg{
            width: 30px;
        }
    }

    a:hover, .active{
        background-color: #f4f4f4;
    }

    .infos{
        border-top: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        flex-grow: 0;

        .infos-btn{
            display: flex;
            align-items: center;
            gap: 1rem;
            cursor: pointer;
        }

        .infos-btn:hover{
           text-decoration: underline;
        }
    }
}