.stock{
    width: 100%;
    display: flex;
    flex-direction: column;   
    gap: 2rem;
    padding: 1rem;

    .title{
        display: flex;
        justify-content: space-between;

        .buttons{
            display: flex;
            gap: 2rem;
        }
    }

    .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;


        .recap{
            width:250px;
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
           
            .truncate{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 100%;


                p{
                    text-align: center;
                }
                .stats{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;

                    p{
                        font-size: 1.5rem;
                    }
                }
            }
            
        }
    }

    .card{
        width: 95%;
        height: 95%;
        margin:  auto;
        overflow: hidden;
        padding: 1rem;
        
        .scroll{
            overflow: scroll;
            height: 100%;
            .table-stock{
               
                padding: 1rem;
                
               
               
            }
        }
        
       
    }

   .badge{
   
        p{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
   }
}